*{
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 70%;
}

.email span{
    color: brown;
}
    h1{
        color: blue;
        padding: 2rem;
        background-color: darkslategrey;
        text-align: center;
    }  


.jugar h2 {
    color: rgb(114, 73, 73);
    text-align: center;
    background-color: rgb(169, 187, 137);
    padding: 2rem;
}
.formulario h2 {
    font-size: 2rem;
    color: hsl(112, 50%, 20%);
    background-color: rgb(98, 102, 102);

      }

 h3 {
    text-align: end;
    color: darkgoldenrod;
    font-size: 1.5rem;
    padding: 1rem; 
}
.jugar-2{
    font-size: 1.5rem;
    color: firebrick;
    background-color: rgb(106, 161, 161);
    padding: 2rem 15rem;
    
}
.formulario{
    color: darkslategrey;
    font-size: 2rem;
    text-align: center;
    background-color: rgb(157, 163, 163);
    
    
}
  .contacto {
    background-color: darkslategrey;
  }  

.contactos-2 {
    text-align: center;
    padding: 2rem;
    border: 3rem;
    background-color: #076363;
    color: crimson;
}
    .contactos-2 h2{
        font-size: 2rem;
    }
    .contactos-3 {
      text-align: left; 
    }
        
    
    .contactos-4 h6 {
       color: rgb(158, 137, 82);
    
    }
    .contactos-4 h4{
        color: rgb(177, 115, 115);

    }

.contactos-5 {
   display: grid; 
   grid-template-columns: auto auto;
   text-align: center;
   background-color: darkslategrey;
}

    
    


    






    
