*{
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 70%;
    background-color: #8a9d91;
    /* background-image: url(../img/headerpic.jpeg); */
    background-image: linear-gradient(to right, rgba(219, 225, 219, 0.883), rgba(98, 158, 131, 0.5), rgba(38, 105, 38, 0.621));
    background-size: cover;
}
   .jugar h1{
        color: black;
        padding: 2rem;
        background-color:#0c602e99 ;
        text-align: center;
        background-color: #8a9d91;
        /* background-image: url(../img/headerpic.jpeg); */
        background-image: linear-gradient(to left, rgba(219, 225, 219, 0.883), rgba(98, 158, 131, 0.5), rgba(38, 105, 38, 0.621));
        background-size: cover;
}
.jugar h2 {
    color: black;
    text-align: center;
    /*background-color: rgb(169, 187, 137);*/
    padding: 2rem;background-color: #8a9d91;
    /* background-image: url(../img/headerpic.jpeg); */
    background-image: linear-gradient(to right, rgba(219, 225, 219, 0.883), rgba(98, 158, 131, 0.5), rgba(38, 105, 38, 0.621));
    background-size: cover;
}
.jugar-2{
    font-size: 1.5rem;
    color: black;
    background-color: #0c602e99;
    padding: 2rem 15rem;
    background-color: #8a9d91;
    /* background-image: url(../img/headerpic.jpeg); */
    background-image: linear-gradient(to left, rgba(219, 225, 219, 0.883), rgba(98, 158, 131, 0.5), rgba(38, 105, 38, 0.621));
    background-size: cover;
}
.jugar-2 :hover {
    color: red;

}
.contenedor-2 {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    background-color: #8a9d91;
    /* background-image: url(../img/headerpic.jpeg); */
    background-image: linear-gradient(to right, rgba(219, 225, 219, 0.883), rgba(98, 158, 131, 0.5), rgba(38, 105, 38, 0.621));
    background-size: cover;
    gap: 2rem;
    
}
.formulario{
    color: darkslategrey;
    font-size: x-large;
    text-align: center;
   /* background-color: #9da3a3;*/
    box-sizing: content-box;
    width: 100%;
    border-color: #204d1a;
    background-color: #8a9d91;
    /* background-image: url(../img/headerpic.jpeg); */
    background-image: linear-gradient(to left, rgba(219, 225, 219, 0.883), rgba(98, 158, 131, 0.5), rgba(38, 105, 38, 0.621));
    background-size: cover;
} 

.formulario h2 {
    font-size: xx-large;
    color:  #204d1a;
    background-color: #8a9d91;
    /* background-image: url(../img/headerpic.jpeg); */
    background-image: linear-gradient(to right, rgba(219, 225, 219, 0.883), rgba(98, 158, 131, 0.5), rgba(38, 105, 38, 0.621));
    background-size: cover;
padding-top: 1rem;
 }
    
.contactos {
    text-align: left;
    font-size: medium;
   /* background-color: #9da3a3;*/
   background-color: #8a9d91;
   /* background-image: url(../img/headerpic.jpeg); */
   background-image: linear-gradient(to right, rgba(219, 225, 219, 0.883), rgba(98, 158, 131, 0.5), rgba(38, 105, 38, 0.621));
   background-size: cover;
   color: darkslategrey;
   
}

.contactos h2 {
    background-color: #8a9d91;
    /* background-image: url(../img/headerpic.jpeg); */
    background-image: linear-gradient(to left, rgba(219, 225, 219, 0.883), rgba(98, 158, 131, 0.5), rgba(38, 105, 38, 0.621));
    background-size: cover;
    color: #204d1a ;
    font-size: xx-large;
    text-align: center;
    padding-top: 1rem;
}   
.espacio-arriba {
    padding-top: 1rem;
}
.contactos h3, h4 {
    padding-left: 1rem;   
}

h3:hover {
    color: white;
} 



    
    


    






    
