footer {
    width: 100vw;
    /* position: fixed; */
    bottom: 0;
}

.footer-rrss {
    background-color: #9DC0AC;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
}

.web {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-self: center;
    font-size: 2em;
}

/*Animacion de los iconos*/

/* .fa-brands:hover {
    
    animation-name: grow;
    animation-duration: 1s ease;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes grow {
    0% { font-size: 2em }
    100% { font-size: 2.3em }
}*/

i {
    margin: 0 1em;
    color: black;
} 

div.subscribe {
    display: flex;
    flex-direction: column;
    align-items: self-end;
    padding-right: 3em;
    text-align: end;
    font-size: 2em;
}

.subscribe h4 {
    font-size: 1rem;
    color: rgb(20, 19, 19);
}

.subscribe .email {
    height: 2rem;
    position: relative;
}

.subscribe .email input {
    height: 100%;
    width: 12rem;
    padding-left: 15%;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.7rem;
    border: 0.1rem transparent rgb(137, 131, 131);
}

.subscribe .email .icon {
    position: absolute;
    right: 80%;
    top: 50%;
    font-size: 1rem; 
}

.subscribe .email button {
    position: absolute;
    right: 6%;
    transform: translate(12%, 40%);
    padding: 2% 4%;
    cursor: pointer;
    border-radius: 0.7rem;
    border: 0.5rem transparent gray;
    outline: none;
    background: forestgreen; 
    color: white;
    transition: 0.3%;
}

.subscribe .email button:hover {
    background: red;
}

.footer-sponsors {
    padding: 0.5rem;
    background-color:  #8a9d91;
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
}

img {
    width: 5vw;
}

.footer-copyright {
    padding: 0.5em 5em;
    text-align: end;
    font-size: 1em;
    font-weight: bold;
    background-color:  #aaaaaa ;
}


.fa-facebook:hover {
    color: rgb(30, 50, 163);
}

.fa-twitter:hover {
    color:rgb(64, 187, 203);
}

.fa-youtube:hover {
    color: rgb(226, 10, 10);
}

.fa-instagram:hover {
    color: rgb(217, 41, 94)
}