* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Helvetica, sans-serif;
}


.header {
    background-color: #8a9d91;
    /* background-image: url(../img/headerpic.jpeg); */
    background-image: linear-gradient(to right, rgba(219, 225, 219, 0.883), rgba(98, 158, 131, 0.5), rgba(38, 105, 38, 0.621));
    background-size: cover;

}


.logo {
    width: 10vw;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 980px) {

    
}

@media only screen and (max-width: 480px) {

    .logo {
        width: 25vw;
    }
}




a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    color: black;
    padding-right: .5rem;
}

.menu {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 980px) {

    .a-logo {
    display: flex;
    justify-content: center;
    }

    .menu {
        background-color: rgb(251, 255, 0);
        grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
    }
}

@media only screen and (max-width: 480px) {

    .contenedor-galeria {
		width: 100%;
		grid-template-columns: 1fr;
    }
}

.a-logo{
    box-sizing: border-box;
}

/* Codigo agregado por Jonathan 40-76*/

nav ul {
    margin:0;
    padding:0;
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 480px) {

    nav ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
}

nav ul li{
    position: relative;
    display: flex;
    /* flex: 1 0 40%; */
}

nav ul li ul {
    display: none;
    visibility: visible;
    position: absolute;
    top: 100% ;
    left: 0;
    width: 100%;
    margin: 0 auto;
}

nav ul li ul li {
    justify-content: center;
}

nav ul li:hover ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* Codigo agregado por Jonathan 40-76*/




nav li {
    display:inline-block;
    padding:0.3rem 0.6rem;
    text-align:center;
    color:#000;
    position:relative;
}

nav li:hover {
    background-color:#fff;
    color:#831F0A;
    }

nav li>ul {
    display:none;
}

nav li:hover>ul {
    display:block;
    position:absolute;
    background-color:#8a9d91;
}


@media only screen and (max-width: 980px) {
     .nav {
        background-color: rgb(251, 255, 0);
        margin: 0 auto;
    }

}

@media only screen and (max-width: 480px) {

}