* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Helvetica, sans-serif;
}


.header {
    background-color: #8a9d91;
    background-image: linear-gradient(to right, rgba(219, 225, 219, 0.883), rgba(98, 158, 131, 0.5), rgba(38, 105, 38, 0.621));
}

.menu {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.a-logo{
    box-sizing: border-box;
}

.logo {
    width: 10vw;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    color: black;
    padding-right: .5rem;
}

ul {
    list-style: none;
    padding-left: 0;
}

nav {

    margin: 1;
}

nav>ul {
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

/* jonathan */

nav a {
    padding:0 0.6rem;
    text-align:center;
    color:#000;
    width: 6.8rem;
    font-size: 1rem;
    font-weight: 900;
    display: block;
    text-align: center;
    /* transition: 500ms; */
}

nav>ul>li>ul>li a{
    background-color: red;
}
nav a:hover {

    background-color: rgb(255, 255, 255);

}

nav>ul>li {
    position: relative;
    display: flex;
    padding: 20px;
    flex: 1 1 100%;
}


nav>ul>li:hover>ul {
    background-color: white;
}

nav>ul>li>ul {
    position: absolute;
    top: 100px;
    left: 0;
    height: 400px;
    opacity: 0;
    /* transition: 0.5s; */
    /* background-color: yellow; */
}

nav>ul>li>ul>li a {
    background-color: red
}


/*Esta es la regla para la medida media, mas pequeño que 650*/
@media only screen and (max-width: 980px) {
    
    .menu {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .a-logo {
        display: flex;
        justify-content: center;
        }
    
    .logo {
        width: 15vw;
    }
    
    nav>ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    nav>ul>li {
            position: static;

        }

    nav>ul>li>ul {
        position: static;
        opacity: 1;
        height: auto;
    }
    
    nav a {
        width: 20rem;
    }
}

@media screen and (max-width:480px){
    .logo {
        width: 25vw;
    }
}



















/*/ Codigo agregado*/

/* nav ul {
    margin:0;
    padding:0;
    display: flex;
    flex-direction: row;
}


nav ul li{
    display: flex;
}

nav ul li ul {
    display: none;
    visibility: visible;
    position: relative;
    top: 100% ;
    left: 0;
    width: 100%;
    margin: 0 auto;
}

nav ul li ul li {
    justify-content: center;
}

nav ul li:hover ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
} */

/* Codigo agregado*/



/* 
nav li {
    display:inline-block;
    padding:0.3rem 0.6rem;
    text-align:center;
    color:#000;
    position:relative;
}

nav li:hover {
    background-color:#fff;
    }

nav li>ul {
    display:none;
}

nav li:hover>ul {
    display:block;
    position:absolute;
    background-color:#8a9d91;
}




@media only screen and (max-width: 980px) {

    .a-logo {
    display: flex;
    justify-content: center;
    }

    .logo {
        width: 15vw;
    }

    .menu {
        grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
    }
}

.menu-telefono {
    display: none;
}





jonathan





@media screen and (max-width:480px){


    .logo {
        width: 25vw;
    }

    .menu {
        background-color: purple;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .menu-telefono ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .menu-telefono li>ul {
        
    }

    .menu-telefono ul li ul {
        visibility: visible;
        position: relative;
        top: 100% ;
        left: 0;
        width: 100%;
        margin: 0 auto;
    }
    
    .menu-telefono ul li ul li {
        justify-content: center;
    }


    .menu-telefono li:hover>ul {
        display:block;
        background-color:#8a9d91;
    }
    
    } */

