* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Helvetica, sans-serif;
}

.header {
    background-color: #8a9d91;
    /* background-image: url(../img/headerpic.jpeg); */
    background-image: linear-gradient(to right, rgba(219, 225, 219, 0.883), rgba(98, 158, 131, 0.5), rgba(38, 105, 38, 0.621));
    background-size: cover;
}

.menu {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% 2fr;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: inline-block;
}

.logo img{
    width: 8vw;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 900;
    color: black;
    padding-right: .5rem;
}

.menu {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 75%;
    align-items: center;
    justify-content: space-between;
}

nav {
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr fr;
}

nav ul {
    list-style:none;
    margin:0;
    padding:0;
}

nav ul li {
    padding: .5rem;
}

nav ul li:hover {
    background-color: #ffffff;
}

nav ul a {
    color: black;
    text-decoration: none;
}

nav ul i {
    color: black;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

ul li ul li{
    padding: 0;
    padding-left: 3.5rem;
}

ul li ul li:hover{
    background-color: #989595;
}

nav ul {
    margin:0;
    padding:0;
    display: flex;
    flex-direction: row;
}

nav ul li {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 481px) and (max-width:980px) {

    .logo img{
        display: flex;
        align-content: center;
        width: 10vw;
        margin-bottom: 1rem;
        }

    .menu {
        grid-template-columns: 25% 75%;
    }
}



@media only screen and (max-width: 480px) {

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    a {
    font-size: 5vw;
    }

    .logo img{
        display: flex;
        align-content: center;
        width: 20vw;
        margin-bottom: 1rem;
        }


    nav ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

}

@media screen and (min-width:480px){

    nav ul li{
        position: relative;
        display: flex;
        flex: 1 1 100%;

    }

    nav ul li ul {
        display: none;
        position: absolute;
        top: 100% ;
        left: 0;
        width: 100%;
        background-color:#8a9d91;
    }

    ul li ul li{
        padding: .5rem 0;
        text-align: center;
    }

    nav ul li:hover ul{
        display: flex;
        flex-direction: column;
    }
}

