* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, rgba(219, 225, 219, 0.883), rgba(98, 158, 131, 0.5), rgba(38, 105, 38, 0.621)), url(../img/euskadi.webp);
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat; 
}

h1 {
    margin-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    font-size: 2rem;
    text-align: left;
    color: black;
    transition: 1s;
}

h1:hover {
    letter-spacing: 3px;
    color: rgb(128, 6, 6);
}

.contenido {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 2rem;
}

/* .caja {
    text-align:justify  
} */

.cj1 {
    grid-column: 1/4;
    padding-bottom: 2rem;
}
.cj2 img {
    width: 100%;
    height: 100%;
}

.cj2 {
    grid-template-columns: auto;
    grid-column: 1/3;
    grid-row: 2/5;
    height: 100%;
    width: 100%;
    align-items: center;
}

.cj3 {
    grid-column: 3/4;
    height: 100%;
    background-size: cover;
}

.cj3 img {
    height: 100%;
    width: 100%;
}

.cj4 {
    grid-column: 3/4; 
    width: 100%;
    height: 100%;
    background-size: cover;
}

.cj4 img {
    width: 100%;
    height: 100%;
}

.cj5 {
    grid-column: 3/4;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.cj5 img {
    width: 100%;
    height: 100%;
}

.textos a {
    text-align: justify;
    color: rgb(255, 255, 255);
    font-size: medium;
    font-family: Helvetica;
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
}

.textos  {
    text-align: center;
    padding-top: 1rem;
   
}

.textos a:hover {
    color: rgb(17, 146, 7);
    box-shadow:inset 25rem 0 0 0 #ffffff;;
}


a {
    box-shadow: inset 0 0 0 0 #457d63;
    color: #0ca74f;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.classification {
    padding-bottom: 2rem;
}

.clasif {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 100%;
}

.table-classification {
    width: 100%;
}

table {
    display: table;
}

/* .table-classification table {
    white-space: nowrap;
} */

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.table-classification table tr td , .table-classification table tr th {
    padding: 0.5rem;
    border: solid rgb(72, 89, 72) 0.1rem;
    text-align: left;
}

th {
    display: table-cell;
    vertical-align: inherit;
    text-align: center;
    color: #6d0b0b;
}

.col-left {
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    align-items: center;      /*.................................................................*/

}

.col-left h2 {
    text-align: center;
}


h3 {
    text-align: center;
}

p {
    text-align: center;
}

#score {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 1.5rem;
}

#equipos {
    margin-top: 2rem;
    font-size: larger;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

.youtube {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    justify-content: space-evenly;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.youtube_v{
    width: 30% ;
    height: 315px;
}

.siglas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2rem;
}

.siglas .vs {

    width: 10vw ;
    
}

/* Media queries for Tablet */

@media screen and (max-width: 960px) {

    .youtube_v{
        width: 50% ;
        height: 250px;
    }

    .youtube, .clasif{
        gap: 2rem;
    }

    .table-classification {
        overflow: scroll;
    }
    
    
   
}


/* Media queries for mobile */

@media screen and (max-width: 480px) {

    

    .table-classification {
        width: 80%;
    }

    h1, h2{
        text-align: center;
        font-size: large;
    }

    h3{
        font-size: medium;
    }
    
    .youtube_v{
        width: 70% ;
        height: 250px;
    }

    .cj2{
        grid-row: 1/5;

    }

    .cj2, .cj3, .cj4, .cj5 {
        grid-column: 1/4;

        height: 200px;
    }

    .contenido{
        gap: 1rem;
    }

    .youtube_v{
        height: 180px;
    }

    


}



