* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titlu {
    background-image: linear-gradient(to right, rgba(219, 225, 219, 0.883), rgba(98, 158, 131, 0.5)), url(../img/euskadi.webp);

    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.contenido {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    width: 100%;
    height: 100%;
    /* background-color: rgb(255, 255, 255); */
    margin: 0 auto;
    padding: 2rem;
    /* border: 0.1rem solid black; */
}

.caja {
    /* border: 0.1rem solid black; */
    text-align:justify  
}

.cj1 {
    grid-column: 1/4;
    height: 7rem;
  
}
.cj2 img {
    width: 100%;
    height: 100%;
}

.cj2 {
    display: grid;
    grid-template-columns: auto;
    grid-column: 1/4;
    height: 100%;
    
    width: 100%;
    align-items: center;
}

.img {
    object-fit: fill;
    height: 100%;
    
      
}
.cj3 {
    grid-column: 1/2;
    height: 6rem;
    background-size: contain;
}

.cj3 img {
    height: 100%;
    width: 100%;
}

.cj4 img {
    width: 100%;
    height: 100%;
}

.cj4 {
    grid-column: 2/3;
    height: 6rem;
    background-size: 80%;
}

.cj5 img {
    width: 100%;
    height: 100%;
}

.textos a {
    text-align: justify;
    color: rgb(255, 255, 255);
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.textos  {
    text-align: center;
   
}

.textos a:hover {
    color: black;
}

.cj5 {
    grid-column: 3/4;
    height: 6rem;
    background-size: contain;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding-right: 1rem;
}

h1 {
    text-align: center;
    color: red;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* body {
    background-image: url(../img/boggarts-logo-transparencia.png);
} */

.clasif {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 100%;
    background-image: linear-gradient(to right, rgba(219, 225, 219, 0.883), rgba(98, 158, 131, 0.5)), url(../img/euskadi.webp);
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.col-left {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}

.col-left h2 {
    text-align: center;
}


h3 {
    text-align: center;
}

p {
    text-align: center;
}

#score {
    color: rgb(0, 0, 0);
    font-size: 4rem;
    font-weight: bolder;
    margin-top: 1.5rem;
}

#equipos {
    margin-top: 2rem;
    font-size: larger;
    font-weight: bolder;
    color: darkred;
}

.table-classification {
    width: 100%;
    overflow: auto;
}

table {
    display: table;
}

.table-classification table {
    white-space: nowrap;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.table-classification table tr td , .table-classification table tr th {
    padding: 0.5rem;
}

th {
    display: table-cell;
    vertical-align: inherit;
    text-align: center;
}
