* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenido {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    padding: 2rem;
    border: 0.1rem solid black;
}

.caja {
    border: 0.1rem solid black;
    text-align:justify  
}

.cj1 {
    grid-column: 1/4;
    height: 7rem;
  
}
.cj2 img {
    width: 100%;
    height: 100%;
}

.cj2 {
    display: grid;
    grid-template-columns: auto;
    grid-column: 1/4;
    height: 100%;
    
    width: 100%;
    align-items: center;
}

.img {
    object-fit: fill;
    height: 100%;
    
      
}
.cj3 {
    grid-column: 1/2;
    height: 7rem;
    background-size: contain;
}

.cj3 img {
    height: 100%;
    width: 100%;
}

.cj4 img {
    width: 100%;
    height: 100%;
}

.cj4 {
    grid-column: 2/3;
    height: 7rem;
    background-size: 80%;
}

.cj5 img {
    width: 100%;
    height: 100%;
}

.textos a {
    text-align: justify;
    color: rgb(255, 255, 255);
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.textos a:hover {
    color: black;
}

.cj5 {
    grid-column: 3/4;
    height: 7rem;
    background-size: contain;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding-right: 1rem;
}

h1 {
    text-align: center;
    color: red;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
