h1 {
    color: black;
    font-weight: bold;
    text-align: center;
    background-color:  rgb(12, 96, 46, 0.6);
   
}

.container {
    background-color: rgb(180, 29, 29, 0.3);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.calendar {
    margin: 2rem auto;
    text-align: center;
}

.news {
    margin: 2rem auto;
    width: 80%;
}