.news-tittle {
    color: black;
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(to left, rgba(219, 225, 219, 0.883), rgba(98, 158, 131, 0.5), rgba(38, 105, 38, 0.753));
    padding: 2rem;
}

h2 {
    color: black;
    margin-bottom: 2rem;
    transition: 1s;
}

h2:hover {
    letter-spacing: 3px;
    color: white;
}

.container {
    background-image: linear-gradient(to right, rgba(219, 225, 219, 0.883), rgba(98, 158, 131, 0.5), rgba(38, 105, 38, 0.753));
	background-size: contain;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    width: 100vw;
}

.title {
    text-align: center;
    margin: 2rem 2rem 3rem 2rem;
}

.calendar-container {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
}

.calendar {
    width: 50vw;
    height: 50vh;
    margin: 2rem auto;
    padding: 0 2rem;
    text-align: center;
}

.news {
    margin: 2rem auto;
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.news-list {
    list-style: none;
    margin: 2rem auto;
    padding: 0 2rem;
}

.new-link {
    align-self: center;
    padding-top: 2rem;
    margin: 1rem;
}

.new-link:hover {
    color: #b41d1d;
}

hr {
    margin: 2rem;
}

/* Media queries */

@media screen and (max-width:960px) {
    .news-tittle {
        font-size: larger;
    }

    .title {
        font-size: large;
    }

    .new-link {
        font-size: small;
    }
    .calendar {
        height: 50vh;
    }
}

@media screen and (max-width:480px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    
    .calendar {
        width: 90vw;
        height: 40vh;
        margin: auto;
        padding: 0;
    }
    
    .news {
        margin: auto;
        padding: 0;
        width: 90vw;
    }

    .news-tittle {
        font-size: large;
    }

    .title {
        font-size: medium;
    }

    .new-link {
        font-size: smaller;
    }
}