h1 {
    font-size: 3rem;
    color: black;
    font-weight: bold;
    text-align: center;
    background-color:  rgb(12, 96, 46, 0.6);
   
}

.container {
    background-color: rgb(180, 29, 29, 0.3);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.calendar {
    margin: 2rem auto;
    text-align: center;
}

#calendarTitle {
    text-align: center;
    margin: 2rem 2rem 3rem 2rem;
    font-size: 2rem;
    color:transparent;
    background:linear-gradient(
        orange,
        red,
        green);
    -webkit-background-clip: text;
}

.news {
    margin: 2rem auto;
    width: 80%;
}

.news-title {
    text-align: center;
    color:transparent;
    background:linear-gradient(
        orange,
        red,
        green);
    -webkit-background-clip: text;
    margin: 2rem 2rem 3rem 2rem;
    font-size: 2rem;
}

.news-list {
    align-self: center;
    list-style: none;
}

li {
    font-size: 1.5rem;
    margin: 1rem;
}
