* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding-right: 1rem;
}

.title {
    display: grid;
    grid-template-columns: min-content;
    font-weight: bolder;
    padding-left: 3%;
    width: 50%
}

img {
    size: 10%;
}
